<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <unicorn>
      <configurations>
        <configuration name="_ModuleType_._Name_" description="_ModuleType_ _Name_" dependencies="Foundation.*" extends="Helix.Feature" >
          <targetDataStore physicalRootPath="$(sourceFolder)\_ModuleType_\_Name_\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- TODO: Remove or add includes depending on what needs to be serialized. -->
            <!-- TODO: Don't forget to create a _ModuleType_/_Name_ folder for these paths in Sitecore. -->
            <include name="_ModuleType_._Name_.Templates" database="master" path="/sitecore/templates/_ModuleType_/_Name_" />
            <include name="_ModuleType_._Name_.Renderings" database="master" path="/sitecore/layout/renderings/_ModuleType_/_Name_" />
            <!--<include name="_ModuleType_._Name_.Media" database="master" path="/sitecore/media library/_ModuleType_/_Name_" />-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>